$primary: #48dcf0;
$secondary: #41b781;
$accent: #111525;

$dark: #020617;
$dark-page: #121212;

$positive: #0d9488;
$negative: #e91916;
$info: #31ccec;
$warning: #ff8911;

$gradient1: linear-gradient(to bottom, #1fdb9c, #0d9488);

$text-slate-400: rgba(148, 163, 184, 1);
